<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end"> NUEVO</button>

                    <table class="table table-striped mt-5">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Coca Cola</th>
                                <td>Refrescos</td>
                                <td>Refrigerador</td>
                                <td>2500</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Tornillos</th>
                                <td>Ferreteria</td>
                                <td>Estante 10</td>
                                <td>3200</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Martillos</th>
                                <td>Ferreteria</td>
                                <td>Estante 5</td>
                                <td>56570</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>